<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMembers>
            <version>1.0.0</version>
        </ISM_NewstoreMembers>
    </modules>
    <global>
        <resources>
            <ism_newstoremembers_setup>
                <setup>
                    <module>ISM_NewstoreMembers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ism_newstoremembers_setup>
        </resources>
        <helpers>
            <ism_newstoremembers>
                <class>ISM_NewstoreMembers_Helper</class>
            </ism_newstoremembers>
        </helpers>
        <blocks>
            <ism_newstoremembers>
                <class>ISM_NewstoreMembers_Block</class>
            </ism_newstoremembers>
        </blocks>
        <models>
            <ism_newstoremembers>
                <class>ISM_NewstoreMembers_Model</class>
                <resourceModel>ism_newstoremembers_resource</resourceModel>
            </ism_newstoremembers>
            <ism_newstoremembers_resource>
                <class>ISM_NewstoreMembers_Model_Resource</class>
                <entities>
                    <newstoremembers>
                        <table>newstoremembers</table>
                    </newstoremembers>
                </entities>
            </ism_newstoremembers_resource>
        </models>
    </global>
    <admin>
        <routers>
            <ism_newstoremembers>
                <use>admin</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstoremembers</frontName>
                </args>
            </ism_newstoremembers>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ism_newstoremembers>
                    <file>newstoremembers.xml</file>
                </ism_newstoremembers>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <ism_newstoremembers>
                    <file>newstoremembers.xml</file>
                </ism_newstoremembers>
            </updates>
        </layout>
        <routers>
            <ism_newstoremembers>
                <use>standard</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstoremembers</frontName>
                </args>
            </ism_newstoremembers>
        </routers>
    </frontend>
</config>
