<?xml version="1.0" encoding="UTF-8"?>
<config>    
    <modules>
        <Loud_Weblog>
            <version>0.1.0</version>
        </Loud_Weblog>
    </modules>
<frontend>
    <routers>
        <weblog>
            <use>standard</use>
            <args>
                <module>Loud_Weblog</module>
                <frontName>weblog</frontName>
            </args>
        </weblog>
    </routers>
</frontend>
</config>