<?xml version="1.0"?>
<config>
    <modules>
        <ISM_ExpOrder>
            <version>1.0.0</version>
        </ISM_ExpOrder>
    </modules>
    <frontend>
        <routers>
            <ism_exporder>
                <use>standard</use>
                <args>
                    <module>ISM_ExpOrder</module>
                    <frontName>ism_exporder</frontName>
                </args>
            </ism_exporder>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>ism_exporder.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ism_exporder>
                <class>ISM_ExpOrder_Model</class>
            </ism_exporder>
        </models>
        <resources>
            <ism_exporder_setup>
                <setup>
                    <module>ISM_ExpOrder</module>
                </setup>
            </ism_exporder_setup>
        </resources>
        <helpers>
            <news>
                <class>ISM_ExpOrder_Helper</class>
            </news>
        </helpers>
    </global>
</config>