<?xml version="1.0"?>
<config>
    <modules>
        <ISM_CustomPayment>
            <version>1.0.0</version>
        </ISM_CustomPayment>
    </modules>
    <global>
        <models>
            <ism_custompayment>
                <class>ISM_CustomPayment_Model</class>
            </ism_custompayment>
        </models>
        <blocks>
            <ism_custompayment>
                <class>ISM_CustomPayment_Block</class>
            </ism_custompayment>
        </blocks>
        <resources>
            <ism_custompayment_setup>
                <setup>
                    <module>ISM_CustomPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ism_custompayment_setup>
            <ism_custompayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ism_custompayment_write>
            <ism_custompayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ism_custompayment_read>
        </resources>
    </global>
    <default>
        <payment>
            <ism_custompayment>
                <active>0</active>
                <model>ism_custompayment/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Credit Card (ISM eCompany)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </ism_custompayment>
        </payment>
    </default>
</config>