<?xml version="1.0"?>
<config>
    <modules>
        <ISM_CustomShippment>
            <version>1.0.0</version>
        </ISM_CustomShippment>
    </modules>
    <global>
        <models>
            <customshippment>
                <class>ISM_CustomShippment_Model</class>
            </customshippment>
        </models>
        <blocks>
            <customshippment>
                <class>ISM_CustomShippment_Block</class>
            </customshippment>
        </blocks>
        <resources>
            <customshippment_setup>
                <setup>
                    <module>ISM_CustomShippment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customshippment_setup>
        </resources>
    </global>
    <default>  
        <carriers>    
            <customshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>customshippment/carrier_customshipping</model>
                <name>ISM custom shipping</name>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </customshipping>
        </carriers>
    </default>
</config>